Django==5.2.8
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
channels==4.3.1
channels-redis==4.3.0
mysqlclient==2.2.8
PyMySQL==1.1.2
python-decouple==3.8
python-dotenv==1.1.1
gunicorn==23.0.0
whitenoise==6.9.0
celery==5.6.3
redis==7.4.0
openai==2.36.0
qdrant-client==1.17.1
requests==2.32.3
pypdf==6.9.1
PyPDF2==3.0.1
Pillow==11.3.0